body {
    font-family: 'Times New Roman', Times, serif;
	margin: 0;
	background-color: #391553;
}

header{
    background-image: url('obrazky/logo.png');
	background-repeat: no-repeat;
	background-position: left top; 
    background-color: #ffffff;
    background-size: contain;
    height: 100px;
    border: #2c073f 3px solid;
    margin: 3px;
}

h1{
    color: #2c073f;
    text-align: center;
    font-size: 2.7em;
}

nav {
    font-size: 1.2em;
    width: 25%;
    float: left;
}

nav a {
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 20px;
    margin: 10px;
    background-color: #2c073f;
    color: #ffffff;
    width: 80%;
    float: left;
    text-decoration: none;
}

nav a:hover {
    background-color: #980084;
}

section {
    width: 65%;
    margin: 10px;
    padding: 20px;
    border: 2px solid #2c073f;
    border-radius: 15px;
    background-color: #ffebfd;
    float: right;
    font-size: 1.2em;
}

section .foto img{
    float: left;
    width: 30%;
    margin: 5px;
}

.clear {
    clear: both;
}

aside {
    border: 4px double #ff1ef0;
    margin: 10px;
    width: 25%;
    float: left;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 5px;
    font-size: 1.1em;
    text-align: center;
}

aside h3 {
    color: #980084;
}

aside a{
    color: #2c073f;
}

#reklama {
    border: 3px solid #250075;
    border-radius: 15px;
    background-color: #97eaff;
    padding: 10px;
    margin-top: 20px;
}

#reklama h3 {
    color: #250075;
}

table {
    width: 65%;
    margin: 5px;
    border: #980084 2px solid;
    background-color: #ffebfd;
}

td, th {
    border: #980084 1px solid;
    padding: 5px;
    text-align: center;
    background-color: #ffb5fa;
}

fieldset {
    width: 90%;
    margin: 5px;
    padding: 5px;
    border: 2px solid #2c073f;
    border-radius: 10px;
    background-color: #ffebfd;
}

legend {
    font-weight: bold;
    color: #2c073f;
}

h2 {
    color: #a5006e; 
    font-size: 2em;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
    width: 65%;
    float: right;
}